*.aux
*.log
*.out
*.toc
*.loa
*.fls
*.fdb_latexmk
*.synctex.gz
build/
/adapter-example/pdfannex-docstore-ctan.zip
/adapter-example/ctan/pdfannex-docstore-doc.pdf
/doc/pdfannex-doc.pdf
missfont.log
.DS_Store
*.xdv
.env
__pycache__/
